/* GENERIC STYLE */

body {
  font-family: "Open Sans", sans-serif;
  background: white;
}

.container {
  margin-bottom: 0; /*debug margin removed */
}

/* UTILITIES */

.only-tablet,
.only-desktop {
  display: none;
}

/* LIST STYLE */

li {
  display: inline-block;
  font-size: 14px;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  text-decoration: underline;
}

/* HEADER */

header .container {
  padding: 20px 0;
}

header .container img {
  display: block;
  margin: auto;
  width: 150px;
}

/* TABLET VERSION */
@media screen and (min-width: 768px) {
  /* GENERIC STYLE */
  .only-tablet {
    display: block;
  }
  /* HEADER */
  nav.nav-right {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
  }
  nav.nav-right li {
    padding: 0 9px;
    text-transform: uppercase;
  }

  nav.nav-right li:last-child,
  nav.nav-right li:nth-last-child(2),
  nav.nav-right li:nth-last-child(3) {
    border-right: 1px solid black;
  }
}

/* DESKTOP VERSION */

@media screen and (min-width: 992px) {
  /* GENERIC STYLE */
  .only-desktop {
    display: block;
  }

  /* HEADER */
  header .container img {
    width: 100px;
    padding: 22px 0;
  }
  nav.nav-right {
    padding: 0;
    text-align: center;
  }
  nav.nav-right li {
    padding: 0 5px;
    text-transform: uppercase;
  }

  nav.nav-right li:last-child,
  nav.nav-right li:nth-last-child(2),
  nav.nav-right li:nth-last-child(3) {
    border-right: 1px solid black;
  }
}
