/* GENERIC STYLE */

body {
  font-family: "Open Sans", sans-serif;
  background: white;
  font-size: 16px;
}

.container {
  margin-bottom: 0; /*debug margin removed */
}

.container-small {
  width: 80%;
  margin: 15px auto;
  padding: 0;
}

.container-small::after {
  display: table;
  content: "";
  clear: both;
}

/* UTILITIES */

.only-tablet,
.only-desktop {
  display: none;
}

/* LIST STYLE */

li {
  display: inline-block;
  font-size: 14px;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  text-decoration: underline;
}

/* Typografy */

h1,
h2,
p.white {
  color: white;
}

p.black {
  color: black;
}

p.blue {
  color: #6268fd;
}

p.small {
  font-size: 12px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

/* HEADER */

header .container {
  padding: 20px 0;
}

header .container img {
  display: block;
  margin: auto;
  width: 150px;
  padding: 25px 0;
}

/*  HEADER | Jumbotron */

.jumbotron {
  background-image: url("../img/hero-bg.jpg");
  height: 500px;
  background-size: cover;
  position: relative;
}

.jumbotron .main-title {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.jumbotron h1,
.jumbotron p {
  text-align: center;
  line-height: 2;
}

/*  HEADER | Jumbotron | Store */

.jumbotron .app-store {
  margin-top: 50px;
}

.download-wrapper {
  text-align: center;
}

/* MAIN | bike */

main .container .col-xs-12 {
  text-align: center;
  margin-top: 50px;
  line-height: 2;
}

main .container .col-xs-12 a {
  text-decoration: none;
  color: #6268fd;
}

main .container .bike img {
  padding-top: 40px;
  height: 500px;
}

/* MAIN | How works */

main section.how-work {
  height: 400px;
  margin-bottom: 200px;
  background-image: url(../img/helbiz-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

main section.how-work .left,
main section.how-work .right {
  margin-top: 450px;
  line-height: 1.6;
}
main section.how-work .left {
  text-align: right;
}

main section.how-work .left {
  padding-right: 30px;
  padding-left: 30px;
}
main section.how-work .right {
  padding-left: 30px;
  padding-right: 30px;
}

main section.how-work .left h3 {
  display: inline-block;
  text-align: left;
}

/* MAIN | Other Services */

main .container.smart {
  background-image: url("../img/scooter-bg.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 400px;
}

.container.smart > .col-xs-12 {
  background-color: #00000081;
  text-align: center;
  margin-top: 140px;
}

.container.smart .col-xs-12 .mobility-text {
  line-height: 1.6;
}

.container.smart .col-xs-12 p {
  padding-bottom: 20px;
}

.container.smart > .col-xs-12 a {
  color: white;
}

/* MAIN | Get App */

main .container .getapp {
  height: calc(300px + 156px);
  background: linear-gradient(#41566a, #252f38) 50% no-repeat;
  position: relative;
}

main .container .getapp .getapp-text {
  margin-top: 20px;
}

main .container .getapp .getapp-text a {
  text-decoration: none;
  color: white;
}

main .container .getapp .getapp-text img {
  display: block;
  height: 300px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
}

/*! TABLET VERSION */

@media screen and (min-width: 768px) {
  /* GENERIC STYLE */
  .only-tablet {
    display: block;
  }
  /* HEADER */

  nav.nav-right {
    padding: 20px;
    text-align: center;
  }
  nav.nav-right li {
    padding: 0 9px;
    text-transform: uppercase;
  }

  nav.nav-right li:last-child,
  nav.nav-right li:nth-last-child(2),
  nav.nav-right li:nth-last-child(3) {
    border-right: 1px solid black;
  }

  /* HEADER | Jumbrotron | Store */

  .download-wrapper {
    padding: 0px 4px;
  }

  .download-wrapper a {
    position: relative;
    margin: 0px auto;
  }

  /* MAIN | bike */

  main .container .col-md-6.left img,
  main .container .col-md-6.right img {
    height: 300px;
  }
  /* MAIN | How works */

  main section.container .phone {
    position: relative;
  }

  main section.container .phone img {
    max-height: 400px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
  }

  /* MAIN | Other Services */

  main .containe.smart {
    background-position: left right;
  }
  .container.smart > .col-md-6 {
    text-align: center;
    line-height: 1.6;
    margin-top: 200px 0;
    padding: 0 100px;
  }
}

/*! DESKTOP VERSION */

@media screen and (min-width: 992px) {
  /* GENERIC STYLE */
  .only-desktop {
    display: block;
  }

  /* Typography */

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 20px;
  }

  /* HEADER */
  header .container img {
    width: 100px;
    padding: 22px 0;
  }
  nav.nav-right {
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }
  nav.nav-right li {
    padding: 0 5px;
    text-transform: uppercase;
  }

  nav.nav-right li:last-child,
  nav.nav-right li:nth-last-child(2),
  nav.nav-right li:nth-last-child(3) {
    border-right: 1px solid black;
  }
  /* MAIN | Other Services */
  main .smart .col-lg-6 {
    margin-top: 0;
    background: none;
    position: relative;
  }

  main .container.smart .col-lg-6 .mobility-text {
    position: absolute;
    top: 50%;
    padding: 0 100px;
  }
}
